@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.active-blue {
  color: #2196f3;
}

.navigation-page {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
